.heading{
    background-color: #444;
    color: white;
    margin: 20px;
    font: 32px ;
    display: flex;
    flex-direction: column;

}
.board-row{
    display: flex;
    flex-flow: row-reverse;
}
.square{
    background-color: #444;
    color: white;
    border: 1px solid #999;
    padding: 0;
    font-size: 84px;
    text-align: center;
    width: 100px;
    height: 100px;
}
.square:focus{
    outline: none;
    background-color: #222;
    
}
.status{
    margin: 20px;
    font-size: 24px;
    
}