.App {
  font-family: sans-serif;
}
.discussion {
  min-width: 100px;
  min-height: 300px;
  border: 1px solid black;
  background-color: lightgray;
}
.inside {
  min-width: 50px;
  min-height: 50px;
  background-color: white;
  border: 1px solid;
  margin: 10;
}
.name {
  min-width: 50%;
  justify-content: left;
}
.comment {
  min-width: 50%;
  justify-content: left;
}
.button1 {
  background-color: skyblue;
  margin: 10px;
  font-size: 13px;
  border-radius: 5px;
  padding: 10px 10px;
}
.post {
  margin: 10px;
  background-color: lightgray;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 13px;
}
.author-name {
  margin-left: 10px;
}
.author-comment {
  margin-left: 30px;
}
.line {
  margin-left: 1px;
  border: 1px solid black;
}
